ADMIN_OWNER_EMAIL=
CF_ACCESS_TEAM_DOMAIN=
CF_ACCESS_AUD=
MAILERLITE_API_TOKEN=
MAILERLITE_GROUP_ID=
OWNER_NOTIFICATION_WEBHOOK_URL=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
SQUARE_ENV=sandbox
SQUARE_APPLICATION_ID=
SQUARE_LOCATION_ID=
SQUARE_ACCESS_TOKEN=
